@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body { 
    height: 100%; 
    width: 100%; 
    overflow: hidden; 
    position: fixed; 
    background-color: #F7F6F2; 
    padding-top: env(safe-area-inset-top); 
    padding-bottom: env(safe-area-inset-bottom); 
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  .rect-ui { border-radius: 0 !important; }
}